<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout-user.html}">
<body>
	<section layout:fragment="content">
		<script src="https://static.elfsight.com/platform/platform.js" async></script>
		<div class="elfsight-app-234a99ad-675d-448a-a5b8-1c3a6e297e0c"
			data-elfsight-app-lazy></div>

		<!-- Contact begin -->
		<div class="section-title text-center mx-auto wow fadeInUp"
			data-wow-delay="0.1s" style="max-width: 500px">
			<p class="fs-5 fw-medium fst-italic text-primary">Liên hệ với
				chúng tôi</p>
			<h1 class="display-6">liên hệ số điện thoại</h1>
		</div>
		
	</section>
</body>

</html>
