<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{seller/layout-seller.html}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Revenue</title>
<link rel="stylesheet" href="/css/seller.css">
</head>
<body>
	<div th:fragment="header" class="custom-header">
		<nav class="sidebar close">
			<header>
				<div class="image-text">
					<span class="image"> <img src="/img/product1.png" alt="">
					</span>

					<div class="text logo-text">
						<span class="name">Alo Tra</span> <span class="profession">Cửa
							hàng</span>
					</div>
				</div>

				<i class='bx bx-chevron-right toggle'></i>
			</header>

			<div class="menu-bar">
				<div class="menu">
					<li class="search-box"><i class='bx bx-search icon'></i> <input
						type="text" placeholder="Search..."></li>

					<ul class="menu-links">
						<li class="nav-link"><a href="/seller/revenue"> <i
								class='bx bx-bar-chart-alt-2 icon'></i> <span
								class="text nav-text">Doanh thu</span>
						</a></li>
						<li class="nav-link"><a href="/seller/branch"> <i
								class='bx bx-store-alt icon'></i> <span class="text nav-text">Cửa
									hàng</span>
						</a></li>
						<li class="nav-link"><a href="/seller/milkTeas"> <i
								class='bx bxs-drink icon'></i> <span class="text nav-text">Sản
									phẩm</span>
						</a></li>
						<li class="nav-link"><a href="/seller/orders"> <i
								class='bx bx-clipboard icon'></i> <span class="text nav-text">Hóa
									đơn</span>
						</a></li>
					</ul>
				</div>

				<div class="bottom-content">
					<li><a href="/user/home"> <i class='bx bx-log-out icon'></i>
							<span class="text nav-text">Đăng xuất</span>
					</a></li>
					<li class="mode">
						<div class="sun-moon">
							<i class='bx bx-moon icon moon'></i> <i
								class='bx bx-sun icon sun'></i>
						</div> <span class="mode-text text">Dark mode</span>
						<div class="toggle-switch">
							<span class="switch"></span>
						</div>
					</li>
				</div>
			</div>
		</nav>
		<script src="/script/seller.js"></script>
	</div>
</body>
</html>